@font-face {
	font-family:Muli-Light;
	src: url('../image/Muli-Light.ttf'); 
}
.fullpage{
	position: relative;
}
.section .page13 .page2Bg{
	background-image: url('../image/page-13.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 55%;
	height: 100vh;
}
.section .page13 .page2Text{
	width: 45%;
	position: relative;
}
.section .page13{
	display: flex;
}
.section .page13 .page2Text .pageLRMod{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 40px;
}
.section .page13 .page2Text .logoTitle{
	left: 40px;
	position: absolute;
	top: 40px;
	height: 12vh;
}
.section .page13 .page2Text .logoTitle img{
	height: 100%;
	width: auto;
	display: block;
}
.section .page13 .page2Text .pageLRMod .textTitle{
	color: #b9845f;
	font-size: 55px;
	font-weight: 500;
	font-family:Muli-Light;
}
.section .page13 .page2Text .pageLRMod .picTitle {
	margin: 10px 0;
}
.section .page13 .page2Text .pageLRMod .picTitle img{
	width: 70%;
}
.section .page13 .page2Text .pageLRMod .textCenter {
	margin: 20px 0 20px;
	padding-right: 140px;
	font-size: 2vh;
	line-height: 2.5vh;
	/*margin: 20px 0;*/
	color: #494949;
	font-family:Muli-Light;
}
.section .page14 .swiperBox{
	width: 50%;
	position: relative;
}
.section .page14 .swiperBox .swiper-container{
	height: 100vh;
}
.section .page14 .swiperBox .swiper-container .swiper-slide img{
	width: 100%;
	height: 100%;
	display: block;
}
.section .page14 .swiperBoxDesc .pageLRMod{
	padding:0 40px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0px;
}
.section .page14 .swiperBoxDesc{
	position: relative;
	width: 50%;
}
.section .page14 .swiperBoxDesc .logoTitle{
	position: absolute;
	top: 40px;
	left: 40px;
	height: 12vh;
}
.section .page14 .swiperBoxDesc .logoTitle img{
	height: 100%;
	width: auto;
	display: block;
}
.section .page14 .swiperBoxDesc .pageLRMod .textTitle {
	color: #b9845f;
	font-size: 55px;
	font-weight: 500;
	font-family:Muli-Light;
}
#page14Desc {
	color: #b9845f;
	border-top: 1px solid #b9845f;
	padding-top: 30px;
	font-size: 14px;
	line-height: 16px;
	min-height: 100px;
}
.section .page14 .swiperBoxDesc .pageLRMod .textCenter {
	font-size: 2vh;
	line-height: 2.5vh;
	margin: 20px 0;
	color: #494949;
	font-family:Muli-Light;
	margin-top: 40px;
}
.section .page15 .page15Top{
	height: 80vh;
	width: 100%;
}
.section .page15 .page15Top img{
	height: 100%;
	width: 100%;
}
.section .page15 .page15Bottom{
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	flex-direction: column;
}
.section .page15 .page15Bottom .floorTitle{
	font-size: 50px;
	color: #b9845f;
	text-align: center;
	font-family:Muli-Light;

}
.section .page15 .page15Bottom .seeMore {
	font-size: 14px;
	color: #494949;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family:Muli-Light;
}
.section .page16 .logoTitle{
	position: absolute;
	top: 40px;
	left: 40px;
	height: 12vh;
}
.section .page16{
	position: relative;
}
.section .page16 .logoTitle img{
	height: 100%;
	display: block;
}
.section .page16 .pageHead {
	display: flex;
	justify-content: center;
	height: 35vh;
	padding-top: 30px;
}
.section .page16 .pageHead .titleMod{

	font-size: 14px;
	font-family:Muli-Light;
}

.section .page16 .pageHead .titleModLeft{
	text-align: right;
	margin-right: 30px;
	flex-direction: column;
}
.page16 .titleModLeft .floorTitle {
	margin-top: 10px;
	font-size: 50px;
	color: #b9845f;
	text-align: center;
	font-family:Muli-Light;
}
.page16 .pageBodyCenterBox, .page19 .pageBodyCenterBox {
	position: relative;
	bottom: -20px;
	z-index: 2;
}
.page16 .pageBodyLeft, .page19 .pageBodyLeft {
	width: 80px;
	height: 330px;
	position: relative;
	top: -30px;
}
.page16 .pageBodyCenter {
	width: 916px;
	height: 410px;
	margin: 0 40px;
}
.pageBodyRight {
	width: 80px;
	height: 82px;
}
.pageBodyBottom {
	background: #b9845f;
	width: 100%;
	height: 15vh;
	position: absolute;
	bottom: 0;
	left: 0;
}
.pageBodyCenterBox {
	display: flex;
	justify-content: center;
	align-items: center;
}
.section .page16 .pageHead .titleModRight  p{
	margin: 0;

}
.section .page16 .pageBody{
	height: 65vh;
}
.section .page16 .pageHead .titleModRight  {
	width: 44%;
	column-count: 2;
	line-height: 18px;
}
.section .page16{
	background-image: url('../image/logoBg.png');
	background-repeat: no-repeat;
	background-size: auto 900px;
}
.section{
	background-repeat: no-repeat;
	background-size: auto 900px;
}
.section{
	position: relative;
}
.section .page17 .logoTitle{
	position: absolute;
	left: 40px;
	top: 40px;
	height: 12vh;
}
.section .page17 .logoTitle img{
	
	height: 100%;
	display: block;
}
.section .page17 .pageBody .pageBodyCenterBox{
	display: flex;
	justify-content: center;
	align-items: center;
}
.page17 .pageBodyLeft, .page18 .pageBodyLeft {
	width: 80px;
	height: 330px;
}
.page17 .pageBodyLeft {
	position: relative;

}
.page17 .planCenter {
	position: relative;
}
.page17 .pageBodyCenter, .page18 .pageBodyCenter {
	width: 813px;
	height: 518px;
	margin: 0 40px;
}
.page17 .planHover, .page17 .planHoverPic {
	left: 50px;
	top: 98px;
	width: 770px;
	height: 325px;
}
.planHover div {
	position: absolute;
	cursor: pointer;
}
.pageBodyRight {
	width: 80px;
	height: 82px;
}
.page17 .floorTitle {
	font-size: 50px;
	color: #b9845f;
	text-align: center;
}
.page17 .pageHead{
	/*height: 10vh;*/
}
.page17 .pageBody{
	/*height: 90vh;*/
}
.planHover, .planHoverPic {
	position: absolute;
}

.section .page18 .pageHead .logoTitle {
	position: absolute;
	left: 40px;
	top: 40px;
	height: 12vh
}
.section .page18 .pageHead .logoTitle img {

	height: 100%;
	display: block;
}
.section .page18 .pageHead .floorTitle {
	font-size: 50px;
	color: #b9845f;
	text-align: center;
	font-family:Muli-Light;
} 

.section .page19 .pageHead{
	display: flex;
	justify-content: center;
}
.section .page19 .pageHead {
	display: flex;
	justify-content: center;
}
.section .page19 .logoTitle {
	position: absolute;
	left: 40px;
	top: 40px;
	height: 12vh;
}
.section .page19 .logoTitle img{

	height: 100%;
	display: block;
}
.section .page19 .titleModLeft {
	text-align: right;
	margin-right: 80px;
}
.section .page19 .titleModLeft .floorTitle {
	font-size: 50px;
	color: #b9845f;
	text-align: center;
	margin-top: 10px;
}
.section .page19 .titleModRight {
	justify-content: center;
	font-size: 14px;
	line-height: 16px;
}
.section .page19 .pageBodyCenterBox {
	position: relative;
	bottom: -30px;
	z-index: 2;
}
.section .page19 .pageBodyLeft {
	width: 80px;
	height: 330px;
	position: relative;
	top: -30px;
}
.section .page19 .pageBodyRight {
	width: 80px;
	height: 82px;
}
.section .page19 .pageBodyBottom {
	background: #b9845f;
	width: 100%;
	height: 15vh;
	position: absolute;
	bottom: 0;
	left: 0;
}
.section .page19 .pageHead .titleModRight {
	width: 28%;
	column-count: 2;
	line-height: 18px;
}
.section .page19 .pageHead .titleModRight p {
	margin: 0;
}
.section .page19 .pageHead .titleModLeft {
	text-align: right;
	margin-right: 80px;
	flex-direction: column;
}
.section .page19 .pageHead .titleMod {
	font-size: 14px;
	font-family: Muli-Light;
}
.section .page19 .pageHead {
	display: flex;
	justify-content: center;
	/*height: 35vh;*/
	padding-top: 30px;
}
.section .page19 .pageBody {
	/*height: 65vh;*/
}
.page19 .pageBodyCenter {
	width: 940px;
	height: 400px;
	margin: 0 40px;
	margin-top: -50px;
}
.swiper-button-next, .swiper-button-prev{
	outline: none;
}
.swiper-pagination-bullet {
	background: #fff;
	border: 1px solid #b9845f;
	opacity: 1;
	margin: 0 3px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #b9845f !important;
} 
.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 100%;
	background: #fffcfc !important;
	opacity: 1 !important;
}
.section .page14{
	height: 100vh;
	display: flex;
}
.fullpage{
	overflow: hidden;
}
.mobile{
	display: none;
}
.property{
	display: none;
}
.logoBg {
	background: #fff url(https://s3.ap-southeast-1.amazonaws.com/alphaking/akr_centennial_2/image/logoBg.png) no-repeat;
	background-size: auto 900px;
}
.page18.logoBg, .page16.logoBg, .page17.logoBg, .page19.logoBg{
	background: none;
}
.page14 .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");}
.page14 .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");}
#callUs {
	width: 900px;
	height: 70vh;
	box-sizing: border-box;
	background: #fff;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1000;
	transform: translate(-50%, -50%);
}
#callUs .callUsBox {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	font-size: 14px;
	position: relative;
}
#callUs .callUsMod {
	width: 50%;
	height: 100%;
	padding: 50px;
	box-sizing: border-box;
}
.callUsLeft {
	border-right: 1px solid #ece2db;
}
#callUs .callUsMod {
	width: 50%;
	height: 100%;
	padding: 50px;
	box-sizing: border-box;
}
.callUsMod {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#callUs .callUsMod .callUsLeftTitle p{
	text-transform: uppercase;
	font-family: Muli-Light;
	font-size: 60px;
	color: #B9845F;
	font-weight: 700;
	margin: 0;
}
.callUsLeft h4 span {
	color: #bb9276;
}
.callUsLeft h4 {
	font-size: 22px;
	margin: 30px 0;
	width: 100%;
}
.callUsLeft h5 {
	color: #bb9276;
	margin: 5px 0;
}
.callUsLeft a{
	color: #000;
	font-family: Muli-Light;
	font-size: 14px;

}
.callUsLeft p {
	font-family: Muli-Light;
	font-size: 14px;
}
.callUsRight .fillIn {
	width: 100%;
	margin: 20px 0;
}
.callUsRight .fillIn input {
	width: 100%;
	text-align: center;
	font-size: 18px;
	height: 50px;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid #b9845f;
	font-family: Muli-Light;
}
input, select {
	vertical-align: middle;
	outline: none;
}
.callUsRight #sendContact {
	display: block;
	width: 70%;
	margin-top: 40px;
}
.callUsRight{
	align-items: center;
}
.closeCallUs {
	right: 20px;
	top: 20px;
	display: inline-block;
	position: absolute;
	top: 20px;
	right: 20px;
}
.callLink{
	position: fixed;
	right: 0;
	bottom: 130px;
	z-index: 300;
}
.fullpage.active:before{
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #000000;
	opacity: 0.7;
	z-index: 1000;
}
@media screen and (max-width: 1024px){
	.pageBodyBottom {
		display: none;
	}
	.logoTitle{
		display: none;
	}
	.section .page13 .page2Text .pageLRMod .textCenter {
		padding-right: 40px;
	}
	.section .page13 .page2Bg {
		height: 80vh;
	}
	.section .page14{
		height: 80vh;
	}
	.section .page14 .swiperBox .swiper-container {
		height: 80vh;
	}
	.section .page15 .page15Top {
		height: 60vh;
	}
	.page16 .pageBodyCenter {
		width: 760px;
		height: 370px;
		margin: 0 20px;
	}
	.section .page16 .logoTitle {
		left: 30px;
	}
	.page16 .titleModLeft .floorTitle {
		margin-top: 5px;
		font-size: 40px;
	}
	.section .page16 .pageHead .titleModLeft {
		margin-right: 19px;
	}
	.section .page16 .pageHead .titleModLeft img{
		width: 200px;
	}
	.section .page16 .pageBody {
		height: 50vh;
	}
	.section .page16 .pageHead {
		height: 38vh;
	}
	.section .page16 .pageHead {
		padding-top: 0;
	}
	._17{
		padding-top: 100px;
	}
	.page17 .pageBodyCenter, .page18 .pageBodyCenter {
		width: 750px;
		height: 480px;
		margin: 0 25px;
	}
	.section .page17 .logoTitle {
		z-index: 3;
		left: 30px;
	}
	.page17 .pageHead {
		padding-top: 50px;
		padding-bottom: 40px;
	}
	.page18 .pageHead {
		padding-top: 50px;
		padding-bottom: 40px;
	}
	.section .page18 .pageHead .logoTitle {
		left: 30px;
	}
	.section .page19{
		margin-top: 40px;
	}
	.section .page19 .logoTitle {
		left: 30px;
	}
	.section .page19 .logoTitle {
		left: 30px;
	}
	.page19 .pageBodyCenter {
		width: 750px;
		height: 377px;
	}
	.section{
		padding-bottom: 40px;
	}
	.property{
		display: none;
	}
	#callUs .callUsMod .callUsLeftTitle p {
		font-size: 50px;
	}
	#callUs{
		height: 80vh;
	}
}
@media screen and (max-width: 768px){
	#callUs {
		width: 700px;
		height: 85vh;
		box-sizing: border-box;
		background: #fff;
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: 1000;
		transform: translate(-50%, -50%);
		margin: 0;
	}
	.callUsLeft h4 {
		font-size: 21px;
	}
	#callUs .callUsMod .callUsLeftTitle p {

		font-size: 44px;
	}
	#callUs .callUsMod {
		padding: 30px;
	}
	.section .page14 .swiperBoxDesc .pageLRMod .textTitle {
		font-size: 30px;
	}
	.logoTitle{
		display: none;
	}
	.section .page13 .page2Text .pageLRMod .textTitle {
		font-size: 38px;
	}
	.section .page13 .page2Text .pageLRMod .textCenter {
		font-size: 12px;
		line-height: 3.5vh;
	}
	.section .page16, .section .page17, .section .page18, .section .page19{
		display: none;
	}
	.mobile{
		display: block;
	}
	.mobile .content .desc{
		display: none;
		padding-top: 50px;
	}
	.mobile .content .desc:nth-of-type(1){
		display: block;
	}
	.section{
		background-image: none !important;
	}
	.mobile .nav a{
		color: #c3c3c3;
		font-size: 22px;
		font-family: Muli-Light;
		text-transform: uppercase;
		width: calc((100% - 132px) / 4);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-right: 44px;
	}
	.mobile .nav a:last-child{
		margin-right: 0px;
	}
	.mobile .nav{
		display: flex;
		width: calc(100% - 60px);
		margin: 0 auto;
	}
	.mobile .content{
		width: calc(100% - 60px);
		margin: 0 auto;
	}
	.mobile .nav .nav-action.active{
		color:#b88d70;
		border-bottom: 1px solid #b88d70;
	}
	.mobile .content .desc .img{
		width: calc(100% - 60px);
		margin: 0 auto;
	}
	.mobile .content .desc .img img{
		width: 100%;
		height: auto;
	}
	.mobile .content .ground-floor .text .txt{
		column-count: 2;
		padding-bottom: 30px;
	}
	.mobile .content .desc .title p{
		font-family: Muli-Light;
		font-size: 50px;
		color: #b88d70;
		text-transform: uppercase;
		font-weight: 700;
		margin-right: 170px;
		margin-bottom: 0;
	}
	.mobile .content .ground-floor .text .title {

		display: flex;
		align-items: center;
		margin-top: 25px;
		margin-bottom: 30px;
	}
	.mobile .content .ground-floor .text .title img{
		width: 100px;
		height: 100px;
	}
	.mobile .content ._20th .title p{
		text-align: center;
		margin: 0 auto;
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.mobile .content ._41st .title p{
		text-align: center;
		margin: 0 auto;
		padding-top: 30px;
		padding-bottom: 20px;
	}
	._16, ._17, ._18, ._19{
		padding-bottom: 0;
		padding: 0;
	}
	.mobile .content .ground-floor .text .txt p{
		font-family: Muli-Light;
		font-size: 15px;
		margin: 0;
	}
	.section .page14 {
		height: 40vh;
	}
	.section .page14 .swiperBox .swiper-container {
		height: 40vh;
	}
	.section .page13 .page2Bg {
		height: 40vh;
	}
	.section .page15 .page15Top {
		height: 38vh;
	}
	.section .page15 .page15Bottom {
		height: 12vh;
	}
}
@media screen and (max-width: 480px){
	.section .page14 {
		height: 80vh;
	}
	#callUs .callUsBox {
		flex-direction: column;
	}
	#callUs .callUsMod {
		width: 100%;
		padding-bottom: 0;
		padding-top: 0;
		padding: 0 15px;
		text-align: center;
	}
	.closeCallUs img {
		width: 70%;
	}
	.section .page13 {
		flex-direction: column-reverse;
	}
	.callUsLeft h4 {
		margin: 10px 0;
	}
	#callUs {
		width: 300px;
	}
	.callUsRight .fillIn input {
		font-size: 15px;
		height: 25px;
	}
	.callUsLeft a {
		margin-top: 0 !important;
		padding-top: 5px;
	}
	.callUsRight .fillIn {
		margin: 10px 0;
	}
	.callUsRight #sendContact {

		margin-top: 10px;
	}
	#callUs .callUsMod .callUsLeftTitle p {
		font-size: 24px;
	}
	.section .page13 .page2Text .pageLRMod {
		position: initial;
		top: auto;
		transform: initial;
		width: calc(100% - 30px);
		margin: 0 auto;
		padding-top: 20px
	}
	.section .page13 .page2Text {
		width: 100%;
	}
	.section .page13 .page2Bg {
		height: 320px;
		width: 100%;
	}
	 .picTitle{
		display: none;
	}
	.page11 .picTitle{
		display: block !important;
	}
	.property{
		display: block;
		font-weight: 700;
		font-size: 30px;
		color: #b88d70;
		font-family: Muli-Light;
		text-transform: uppercase;
	}
	.section .page13 .page2Text .pageLRMod .textTitle {
		font-size: 30px;
		font-weight: 700;
	}
	.section .page13 .page2Text .pageLRMod .textCenter {
		font-size: 18px;
		line-height: 3.5vh;
		padding-right: 20px;
		color: #494949;
	}
	.section .page14 {
		flex-direction: column;
	}
	.section .page14 .swiperBox {
		width: 100%;
	}
	.section .page14 .swiperBoxDesc {
		width: 100%;
	}
	.section .page14 .swiperBox .swiper-container {
		height: 36vh;
	}
	.section .page14 .swiperBoxDesc .pageLRMod {
		position: inherit;
		transform: inherit;
		top: auto;
		padding: 0 15px;
		margin-top: 30px;
	}
	.section .page14 .swiperBoxDesc .pageLRMod .textTitle {
		font-weight: 700;
	}
	.section .page15 .page15Bottom .floorTitle {
		font-size: 20px;
	}
	.section .page15 .page15Bottom {
		height: 11vh;
	}
	.section .page15 .page15Top {
		height: 36vh;
	}
	.section .page15 .page15Bottom .floorTitle {
		margin-bottom: 30px;
	}
	.mobile .nav {
		width: calc(100% - 30px);
	}
	.mobile .nav a {
		font-size: 15px;
		width: calc((100% - 60px) / 4);
		margin-right: 20px;
		display: block;
	}
	.mobile .content .desc .title p {
		font-size: 30px;
		margin-right: 34px;
	}
	.mobile .content {
		width: calc(100% - 30px);
		margin: 0 auto;
	}
	.mobile .content .desc .img {
		width: 100%;
	}
}