@font-face {
font-family:Muli-Light;
src: url('../font/Muli-Light.ttf');
}
@font-face {
font-family:Domaine Sans Text Bold;
src: url('../font/Domaine Sans Text Bold.woff');
}
body{
    background-color: black !important;
    font-size: 0.26rem;
    font-family: Muli-Light !important;
}

.section {
    width: calc(( 1665.770 / 1920) * 100%) !important;
    margin: auto;
}

.page12 {
    width: 100%;
    position: relative
}

.page12 .tab-12 .content12 {
    text-align: center;
    display: none;
}

.page12 .tab-12 .js--active {
    display: block;
}

.page12 .tab-12 .content12 h1 {
    color: #b9845f;
    font-size: 16px;
}

.page12 .tab-12 .content12 h2 {
    font-size: 17px;
    /* line-height: 2vh; */
    margin-top: 10px;
}
.fullpage .page12 .logoMod {
    position: absolute;
    left: 40px;
    top: 50px;
    z-index: 2;
}
.fullpage .page12 .logoMod img {
    height: 82px;
    width: 127px;
}
.fullpage .page12 .swiperBoxType2 {
    width: calc((100% / 10) * 8);
    position: relative;
    margin: 20px auto;
}
.fullpage .page12 .swiperBoxType2 h3 {
    font-size: 46px;
    color: #b9845f;
    font-weight: 800;
    font-family: Muli-Light;
    text-align: center;
    margin-bottom: 20px;
}
.fullpage .page12 .swiperBoxType2 .swiper_6 .swiper-button-prev {
    left: -60px;
    color: #b9845f;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23b88d70'%2F%3E%3C%2Fsvg%3E");
    outline: none;
}
.fullpage .page12 .swiperBoxType2 .swiper_6 .swiper-button-next {
    right: -60px;
    color: #b9845f;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23b88d70'%2F%3E%3C%2Fsvg%3E");
    outline: none;
}

.swiperBoxType2 .swiper-pagination {
    width: 100%;
    bottom: 20px;
}

.swiper-pagination .swiper-pagination-bullet {
    background: #fff;
    border: 1px solid #b9845f;
    opacity: 1;
    margin: 0 3px;
}

.swiper-pagination .swiper-pagination-bullet-active {

    background: #b9845f;
}
.page12 .textDescTab .textDescTabTitle {
    display: flex;
    justify-content: center;
    font-family: Muli-Light;

}
.page12 .textDescTab .textDescTabTitle .textDescTabTitleMod {
    margin: 0 30px;
    font-size: 2.4vh;
    height: 4.5vh;
    line-height: 4.5vh;
    font-weight: 600;
    color: #dfc9ba;
    cursor: pointer;
    width: 35vh;
    text-align: center;
    font-family: Muli-Light;
}
.page12 .textDescTab .textDescTabTitle .select {
    border-bottom: 1px solid #b9845f;
    color: #b9845f;
}
.page12 .textDescTab .textDescTabTitle span {
    height: 30px;
    width: 1px;
    background: #b9845f;
}
.page12 .textDescTab .textDescTabDesc {
    text-align: center;
    font-size: 1.8vh;
    line-height: 2vh;
    width: 70%;
    margin: 20px auto;
    font-weight: 600;
    color: #494949;
    height: 6vh;
    font-family: Muli-Light;
}
.page12 .textDescTab .none {
    display: none;
}

.swiperBoxType2 .swiper-container-12 {
    padding-bottom: 60px;
}
.swiper-container-12 {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-container-12 .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 400px;
}
.swiper-container-12 .swiper-slide.swiper-slide-next,
.swiper-container-12 .swiper-slide.swiper-slide-prev {
    transform: translate3d(0px, 0px, -100px) rotateX(0deg) rotateY(0deg) scale3d(1, 0.7, 0.7) !important;
}
.swiper-container-12 .swiper-slide.swiper-slide-active {
    transform: scale3d(1);
}

.page6 {
    width: 100%;
    position: relative
}
.page6 .textDescTab{
   /*  height: 100%; */
    padding: 15px;
}
.fullpage .page6 .logoMod {
    position: absolute;
    left: 40px;
    top: 50px;
    z-index: 2;
}
.fullpage .page6 .logoMod img {
    height: 82px;
    width: 127px;
}
.fullpage .page6 .swiperBoxType2 {
    width: calc((100% / 10) * 8);
    position: relative;
    margin: 20px auto;
}
.fullpage .page6 .swiperBoxType2 h3 {
    font-size: 46px;
    color: #b9845f;
    font-weight: 800;
    font-family: Muli-Light;
    text-align: center;
    margin-bottom: 20px;
}
.fullpage .page6 .swiperBoxType2 .swiper_6 .swiper-button-prev {
    left: -60px;
    color: #b9845f;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23b88d70'%2F%3E%3C%2Fsvg%3E");
    outline: none;
}
.fullpage .page6 .swiperBoxType2 .swiper_6 .swiper-button-next {
    right: -60px;
    color: #b9845f;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23b88d70'%2F%3E%3C%2Fsvg%3E");
    outline: none;
}

.swiperBoxType2 .swiper-pagination {
    width: 100%;
    bottom: 20px;
}

.swiper-pagination .swiper-pagination-bullet {
    background: #fff;
    border: 1px solid #b9845f;
    opacity: 1;
    margin: 0 3px;
}

.swiper-pagination .swiper-pagination-bullet-active {

    background: #b9845f;
}
.page6 .textDescTab .textDescTabTitle {
    display: flex;
    justify-content: center;
    font-family: Muli-Light;

}
.page6 .textDescTab .textDescTabTitle .textDescTabTitleMod {
    margin: 0 30px;
    font-size: 2.4vh;
    height: 4.5vh;
    line-height: 4.5vh;
    font-weight: 600;
    color: #dfc9ba;
    cursor: pointer;
    width: 35vh;
    text-align: center;
    font-family: Muli-Light;
}
.page6 .textDescTab .textDescTabTitle .select {
    border-bottom: 1px solid #b9845f;
    color: #b9845f;
}
.page6 .textDescTab .textDescTabTitle span {
    height: 30px;
    width: 1px;
    background: #b9845f;
}
.page6 .textDescTab .textDescTabDesc {
    text-align: center;
    font-size: 1.8vh;
    line-height: 2vh;
    width: 70%;
    margin: 20px auto;
    font-weight: 600;
    color: #494949;
    height: 6vh;
    font-family: Muli-Light;
}
.page6 .textDescTab .none {
    display: none;
}

.swiperBoxType2 .swiper-container-6 {
    padding-bottom: 60px;
}
.swiper-container-6 {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-container-6 .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 400px;
}
.swiper-container-6 .swiper-slide.swiper-slide-next,
.swiper-container-6 .swiper-slide.swiper-slide-prev {
    transform: translate3d(0px, 0px, -100px) rotateX(0deg) rotateY(0deg) scale3d(1, 0.7, 0.7) !important;
}
.swiper-container-6 .swiper-slide.swiper-slide-active {
    transform: scale3d(1);
}

.page5 {
    position: relative;
    z-index: 3;
    left: 0;
    top: 0;
    overflow: hidden;
}

.page5 .mapBoxList {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.page5 .js-flat {position: absolute;top: 0;width: 100%;left: 0;cursor: move;}

.page5 .js-flat img {
    width: 141%;
    height: auto;
    display: block;
}

.page5 .mapBoxList .mapBox img{
    width: 141%;
    height: auto;
    display: block;
}

.page4 .wrap-4 {
    display: flex;
    flex-wrap: wrap;
}

.page4 .wrap-4 .swiperBoxDesc {
    width: 43%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../image/logoBg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.page4 .wrap-4 .swiperBoxDesc .pageLRMod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
}

.page4 .wrap-4 .swiperBoxDesc .pageLRMod h4 {
    font-size: 55px;
    color: #b9845f;
    margin-bottom: 50px;
}

.page4 .wrap-4 .swiperBoxDesc .pageLRMod .s4-mob {
    font-size: 30px;
    margin-bottom: 0;
    display: none;
}

.page4 .wrap-4 .swiperBoxDesc .pageLRMod p {
    font-size: 2vh;
    line-height: 2.5vh;
    /* margin: 20px 0; */
    color: #494949;
}

.page4 .wrap-4 .swiperBoxDesc .pageLRMod .picTitle img {
    display: block;
    max-width: 488px;
    height: auto;
}

.page4 .wrap-4 .swiperBoxDesc .logoTitle {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 5;
}

.page4 .wrap-4 .swiperBoxDesc .logoTitle img {
    display: block;
    height: 82px;
    width: auto;
}

.page4 .wrap-4 .swiperBox {
    width: 57%;
    height: 100%;
    background-color: #fff;
    position: relative;
}

.page4 .wrap-4 .swiperBox .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    outline: 0;
}

.page4 .wrap-4 .swiperBox .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    outline: 0;
}

.page4 .wrap-4 .swiperBox .swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
    background-color: #fff;
    border: 1px solid #b9845f;
}

.page4 .wrap-4 .swiperBox .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #b9845f;
}

.page4 .fp-tableCell .swiperBox .swiper-pagination span.swiper-pagination-active {
    background-color: aqua;
}

.page4 .wrap-4 .swiperBox .swiper-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.page3 {
    position: relative;
    background-color: #fff;
}

.page3 .fp-tableCell {
    display: block;
}

.page3 .logoMod {
    position: absolute;
    top: 50px;
    left: 40px;
    z-index: 2;
}

.page3 .swiperBox {
    position: relative;
}

.page3 .swiperBox .swiper-button-prev {
    outline: 0;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.page3 .swiperBox .swiper-button-next {
    outline: 0;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.page3 .swiperBox .swiper-pagination {
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}

.page3 .swiperBox .swiper-pagination .swiper-pagination-bullet {
    background: #fafafa;
    opacity: 1;border: solid 1px #b9845f;
    margin: 0 3px;
}

.page3 .swiperBox .swiper-pagination .swiper-pagination-bullet-active {
    background: #b9845f;
}

.page3 .swiperBoxDesc {
    text-align: center;
    margin-top: 57px;
}

.page3 .swiperBoxDesc p {
    color: #494949;
    font-size: 1.8vh;
    margin: 10px 0;
    /* font-weight: 600; */
}

.page3 .swiperBoxDesc h4 {
    color: #b9845f;
    font-size: 2.2vh;
    margin: 10px 0;
}

.page3 .swiperBox .swiper-slide {
    padding-top: calc((717.05 / 1578) * 100%);
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.page3 .logoMod img {
    display: block;
    height: 82px;
    width: auto;
}

.page2 .pageBox .page2BgBox .page2Text .pageLRMod .s2-mob {
    font-size: 30px;
    color: #b9845f;
    font-weight: 500;
    margin-bottom: -5px;
    display: none;
}

.page2 .pageBox {
    position: relative;
    width: 100%;
    height: 100%;
}

.page2 .pageBox .page2BgBox {
    width: 100%;
    height: 100%;
    position: relative;
}

.page2 .pageBox .page2BgBox .page2Text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.page2 .pageBox .page2BgBox .page2Text .pageLRMod {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
    position: relative;
    background-color: #fff;
}

.page2 .pageBox .page2BgBox .page2Text .pageLRMod:after {
    content: "";
    position: absolute;
    background-image: url(../image/logoBg.png);
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.page2 .pageBox .page2BgBox .page2Text .pageLRMod :after {
    content: "";
    background-image: url(../image/logoBg.png);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
}

.page2 .pageBox .page2BgBox .page2Text .pageLRMod .anLeft2 {
    font-size: 55px;
    color: #b9845f;
    font-weight: 500;
    margin-bottom: 55px;
}

.page2 .pageBox .page2BgBox .page2Text .pageLRMod .anLeft3 {
    font-size: 2vh;line-height: 2.5vh;
    /* margin: 20px 0; */
    color: #494949;
}

.page2 .pageBox .page2BgBox .page2Text .pageLRMod .toLink {
    text-align: right;
    color: #b9845f;
    font-size: 16px;
    margin-top: 20px;
}

.page2 .pageBox .page2BgBox .page2Text .pageLRMod .toLink a {
    text-decoration: none;
    color: #b9845f;
    cursor: pointer;
}

.page2 .pageBox .page2BgBox .page2Text .pageLRMod .picTitle img {
    display: block;
    max-width: 517px;
    height: auto;
}

.page2 .pageBox .page2BgBox .page2Text .page2Bg {
    width: 55%;
    background: aqua;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(../image/page_2Bg.png);
}
.page2 .pageBox .active-popup{
    opacity: 1 !important;
    visibility: visible !important;
}
.page2 .pageBox .page2BgBox .logoTitle {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 5;
}

.page2 .pageBox .page2BgBox .logoTitle img {
    height: 82px;
    width: auto;
    display: block;
}

.page2 .pageBox .video2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

.page2 .pageBox .bler {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #3330;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}
.page1 .pageBox{
    width: 100%;
    height: 100vh;
    position: relative;
}

.page1-mobile h1{
    font-size: 113px;
    color: #fff;
    font-family: Domaine Sans Text Bold;
    text-transform: uppercase;
    width: max-content;
    margin: auto;
    line-height: 96px;
    padding-top: 205px;
}

.page1-mobile h2 {
    color: #fff;
    text-align: center;
    padding: 0 30px;
    margin-top: 63px;
    font-size: 30px;
    letter-spacing: 0.4px;
    line-height: 37px;
}

.page1-mobile a {
    position: absolute;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
    text-decoration: none;
}

.page1-mobile {
    height: 100vh;
    position: relative;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

.page1 .pageBox video{
    height: 100%;
    width: 100%;
}
.page1 .pageBox .logoMod {
    position: absolute;
    top: 50px;
    left: 40px;
}

.page1 .pageBox .toNext {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    cursor: pointer;
}

.page1 .pageBox .toNext a img {
    display: block;
    width: 67px;
    height: auto;
}
.page1 .pageBox .logoMod img {
    height: 82px;
    width: auto;
    display: block;
}
/*.................................................................................*/
@media only screen and (max-width: 1024px){
    body{
        background: #fff !important;
    }
    .fullpage .page12 .logoMod {
   display: none;
}
.fullpage .page6 .logoMod {
    display: none;
}
    .swiperBoxType2 .swiper-container-6 {
        padding-bottom: 25px;
    }
    .page6 .textDescTab .textDescTabTitle .textDescTabTitleMod {
    margin: 0;
    font-size: 16px;
   
}
    .page6 .textDescTab .textDescTabTitle .select {
    font-size: 16px;
    color: #b9845f;
    padding: 0 5px;
    width: 100%;
}
    .page6 .textDescTab .textDescTabDesc {
   height: 100%;
    width: 100%;
    margin: 20px 0px;
}
   .page6 .textDescTab .textDescTabTitle .textDescTabTitleMod {
    height: 100%;
    padding: 10px 5px;
    line-height: 16px;
    font-size: 19px;
    width: 100%;
    text-align: center;
}
    .section{
        /*width: auto !important;
        margin: 0 30px;*/
        width: calc(100%)!important;
    }
    .page2 .pageBox .page2BgBox .logoTitle{
        display: none;
    }
    .page3 .logoMod{
        display: none;
    }
    .page4 .wrap-4 .swiperBoxDesc .logoTitle{
        display: none;
    }
    .page4 .wrap-4 .swiperBox .swiper-slide{
        height: 600px;
    }
    .page5{
        height: 600px;
    }

    .page1{
        width: 100% !important;
        margin: 0;
    }
    .page1 .pageBox .logoMod {
        top: 112px;
    }
    .page2 .pageBox .page2BgBox .page2Text .pageLRMod{
        height: 600px;
        padding: 0px 30px;
    }
    .page2 .pageBox .page2BgBox .page2Text .pageLRMod .anLeft2{
        font-size: 45px;
        margin-bottom: 25px;
    }
    .page3 {
        
        background-color: #fff;
        
    }
    .page3 .wrap-3{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: max-content; 
        padding-top: 0;
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 768px){
    .swiper-container-6 .swiper-slide {
   width: 100%;
   height: 300px;
}
    .swiper-container-12 .swiper-slide {
   width: 100%;
   height: 300px;
}
     .page6 .textDescTab .textDescTabTitle .textDescTabTitleMod {
    height: 100%;
    padding: 10px 5px;
    line-height: 16px;
    font-size: 19px;
    width: 100%;
    text-align: center;
}
    .fullpage .page12 .swiperBoxType2 h3 {
    font-size: 30px;
   
}
    .page1{
        display: none;
    }
    .page1-mobile{
        display: block;
    }
    .page2 .pageBox .page2BgBox .logoTitle{
        display: none;
    }
    .page3 .swiperBox .swiper-slide{
        height: 425px;
    }
    .page3 .logoMod{
        display: none;
    }
    .page3 .wrap-3{
        height: max-content;
        padding-top: 0;
        padding-bottom: 0px;
    }
    .page2{
        height: max-content;
        /*background-color: #fff;*/
        /*padding-top: 50px;*/
    }
    .page2 .pageBox .page2BgBox .page2Text .pageLRMod{
        width: 100%;
        height: 50vh;
        order: 2;
    }
    .page2 .pageBox .page2BgBox .page2Text .page2Bg{
        width: 100%;
        height: 450px;
    }
    .page4{
        position: relative;
    }
    .page4 .wrap-4 .swiperBox{
        width: 100%;
        /*height: 50vh;*/
    }
    .page4 .wrap-4 .swiperBoxDesc .logoTitle{
        display: none;
    }
    .page4 .wrap-4 .swiperBox .swiper-slide{
        height: 425px;
    }
    .page4 .wrap-4 .swiperBoxDesc{
        width: 100%;
        height: 400px;
    }
    .page4 .wrap-4 .swiperBoxDesc .pageLRMod .picTitle img{
        width: 420px;
    }
    .page4 .wrap-4 .swiperBoxDesc .logoTitle img{
        height: 82px;
    }
    .page5{
        height: 425px;
    }
    .page6{
        padding: 0px 0 10px;
    }
    .page6 .wrap-6 .logoMod{
        display: none;
    }
    .page6 .wrap-6 .swiperBoxType2{
        width: calc(100% - 60px);
    }
}
@media only screen and (max-width: 480px){
     .page6 .textDescTab .textDescTabTitle .textDescTabTitleMod {
    height: 100%;
    padding: 10px 5px;
    line-height: 16px;
    font-size: 14px;
    width: 100%;
    text-align: left;
}
    .fullpage .page12 .swiperBoxType2 .swiper_6 .swiper-button-next{
        right: 0;
    }
    .fullpage .page12 .swiperBoxType2 .swiper_6 .swiper-button-prev{
        left: 0;
    }
    .fullpage .page12 .logoMod{
        display: none;
    }
    .swiper-container-12 .swiper-slide {
        width: 100%;
        height: 222px;
    }
    .fullpage .page6 .swiperBoxType2 .swiper_6 .swiper-button-next{
        right: 0;
    }
    .fullpage .page6 .swiperBoxType2 .swiper_6 .swiper-button-prev{
        left: 0;
    }
    .fullpage .page12 .swiperBoxType2{
        width: 100%;
    }
    .fullpage .page6 .swiperBoxType2 .swiper-slide {
        width: 100%;
    }
    .fullpage .page6 .swiperBoxType2{
        width: 100%;
    }

    .swiper-container-6 .swiper-slide{
        height: 222px;
    }

    .fullpage .page6 .logoMod{
        display: none;
    }

    .fullpage .page6 .swiperBoxType2 h3{
        font-size: 25px;
    }
    .page1-mobile h1{
        font-size: 90px;
        line-height: 80px;
        padding-left: 23px;
    }
    .page1-mobile h2{
        line-height: 22px;
        font-size: 18px;
    }
    .page1-mobile a{
        font-size: 20px;
    }
    .page2 .pageBox .page2BgBox .page2Text .page2Bg{
        height: 269px;
    }
    .page2 .pageBox .page2BgBox .page2Text .pageLRMod{
        height: max-content;
        padding: 30px 15px;
        text-align: justify;
    }
    .page2 .pageBox .page2BgBox .page2Text .pageLRMod:after{
        display: none;
    }
    .page2 .pageBox .page2BgBox .page2Text .pageLRMod .anLeft2{
        font-size: 30px;
    }
    .page2 .pageBox .page2BgBox .page2Text .pageLRMod .s2-mob {
        display: block;
        /* text-align: CENTER; */
    }
    .page2 .pageBox .page2BgBox .page2Text .pageLRMod .picTitle img{
        display: none;
    }
    .page4 .wrap-4 .swiperBoxDesc .pageLRMod{
        padding: 0 15px;
    }
    .page4 .wrap-4 .swiperBoxDesc .pageLRMod .picTitle img{
        display: none;
    }
    .page4 .wrap-4 .swiperBoxDesc .pageLRMod h4{
        font-size: 30px;
        margin-bottom: 14px;
    }
    .page4 .wrap-4 .swiperBoxDesc{
        height: max-content;
    }
    .page4 .wrap-4 .swiperBoxDesc .pageLRMod .s4-mob{
        display: block;
    }
    .page4 .wrap-4 .swiperBoxDesc .pageLRMod p{
        text-align: justify;
    }
    .page5 {
        height: 346px;
    }
}
@media only screen and (max-width: 375px){
    .page1-mobile h1 {
        font-size: 73px;
        line-height: 64px;
    }
    .page2 .pageBox .page2BgBox .page2Text .page2Bg{
        height: 208px;
    }
}

@media only screen and (max-width: 360px){
    .page6 .textDescTab .textDescTabTitle .textDescTabTitleMod{
        margin: 0 15px;
        font-size: 14px;
        width: 50%;
    }
    .page1-mobile h1{
        font-size: 69px;
        line-height: 60px;
        padding-top: 116px;
    }
    .page1-mobile h2{
        font-size: 16px;
        padding: 0 15px;
        margin-top: 30px;
    }
    .page1-mobile a{
        font-size: 16px;
        bottom: 30%;
    }
}
@media only screen and (max-width: 320px){
    .page2 .pageBox .page2BgBox .page2Text .page2Bg {
        height: 180px;
    }
    .page3 .swiperBox .swiper-slide {
        height: 225px;
    }
    .page3 .swiperBoxDesc {
        margin-top: 35px;
    }
    .page4 .wrap-4 .swiperBox .swiper-slide {
        height: 225px;
    }
    .page4 .wrap-4 .swiperBoxDesc .pageLRMod {
        padding: 16px 15px;
    }
    .page5 {
        height: 225px;
    }
    .page1-mobile h1{
        font-size: 64px;
        padding-top: 72px;
    }
}