@font-face {
    font-family: Muli-Light;
    /*这里是说明调用来的字体名字*/
    src: url('../image/Muli-Light.ttf');
    /*这里是字体文件路径*/
}

body {
    font-size: 0.26rem;
    font-family: Muli-Light;
    background: #000;
}

/* .fullpage {
    padding: 0 calc(100% / 12);

}
 */
.page7 {
    width: 100%;
    position: relative
}

.fullpage .page7 .logoMod,
.fullpage .page8 .logoMod {
    position: absolute;
    left: 40px;
    top: 50px;
    z-index: 2;
}

.fullpage .page7 .logoMod img,
.fullpage .page8 .logoMod img {
    height: 82px;
    width: 127px;
}

.fullpage .page7 .swiperBoxType2,
.fullpage .page8 .swiperBoxType2 {
    width: calc((100% / 10) * 8);
    position: relative;
    margin: 20px auto;
}

.fullpage .page7 .swiperBoxType2 h3,
.fullpage .page8 .swiperBoxType2 h3 {
    font-size: 46px;
    color: #b9845f;
    font-weight: 800;
    font-family: Muli-Light;
    text-align: center;
    margin-bottom: 20px;
}

.fullpage .page7 .swiperBoxType2 .swiper_7 .swiper-button-prev,
.fullpage .page8 .swiperBoxType2 .swiper_8 .swiper-button-prev {
    left: -60px;
    color: #b9845f;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23b88d70'%2F%3E%3C%2Fsvg%3E");
    outline: none;
}

.fullpage .page7 .swiperBoxType2 .swiper_7 .swiper-button-next,
.fullpage .page8 .swiperBoxType2 .swiper_8 .swiper-button-next {
    right: -60px;
    color: #b9845f;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23b88d70'%2F%3E%3C%2Fsvg%3E");
    outline: none;
}

.swiperBoxType2 .swiper-pagination {
    width: 100%;
    bottom: 0px;
}

.swiper-pagination .swiper-pagination-bullet {
    background: #fff;
    border: 1px solid #b9845f;
    opacity: 1;
    margin: 0 3px;
}

.swiper-pagination .swiper-pagination-bullet-active {

    background: #b9845f;
}

.page7 .textDescTab .textDescTabTitle,
.page8 .textDescTab .textDescTabTitle {
    display: flex;
    justify-content: center;
    font-family: Muli-Light;

}

.page7 .textDescTab .textDescTabTitle .textDescTabTitleMod,
.page8 .textDescTab .textDescTabTitle .textDescTabTitleMod {
    margin: 0 30px;
    font-size: 2.4vh;
    height: 4.5vh;
    line-height: 4.5vh;
    font-weight: 600;
    color: #dfc9ba;
    cursor: pointer;
    width: 35vh;
    text-align: center;
    font-family: Muli-Light;
}

.page7 .textDescTab .textDescTabTitle .select,
.page8.textDescTab .textDescTabTitle .select,
.page8 .textDescTab .textDescTabTitle .select,
.page8.textDescTab .textDescTabTitle .select {
    border-bottom: 1px solid #b9845f;
    color: #b9845f;
}

.page7 .textDescTab .textDescTabTitle span {
    height: 30px;
    width: 1px;
    background: #b9845f;
}

.page7 .textDescTab .textDescTabDesc,
.page8 .textDescTab .textDescTabDesc {
    text-align: center;
    font-size: 1.8vh;
    line-height: 2vh;
    width: 70%;
    margin: 20px auto;
    font-weight: 600;
    color: #494949;
    height: 6vh;
    font-family: Muli-Light;
}

.page7 .textDescTab .none {
    display: none;
}

.page8 {
    position: relative
}

.page8 .textDescTab .none {
    display: none;
}

.swiperBoxType2 .swiper-container-7,
.swiperBoxType2 .swiper-container-8 {
    padding-bottom: 60px;
}

.swiper-container-7 {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-container-7 .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 400px;
}

.swiper-container-7 .swiper-slide.swiper-slide-next,
.swiper-slide.swiper-slide-prev {
    transform: translate3d(0px, 0px, -100px) rotateX(0deg) rotateY(0deg) scale3d(1, 0.7, 0.7) !important;
}

.swiper-container-7 .swiper-slide.swiper-slide-active {
    transform: scale3d(1);
}

.swiper-container-8 {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-container-8 .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 400px;
}

.swiper-container-8 .swiper-slide.swiper-slide-next,
.swiper-slide.swiper-slide-prev {
    transform: translate3d(0px, 0px, -100px) rotateX(0deg) rotateY(0deg) scale3d(1, 0.7, 0.7) !important;
}

.swiper-container-8 .swiper-slide.swiper-slide-active {
    transform: scale3d(1);
}

/* page10 */
.page10 {
    position: relative;
}

.page10 .mapBox img {
    width: 200%;
    display: block;
    height: auto;
}

.page10 .flat10 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page10 .flat10 img {
    display: block;
    width: 200%;
    height: auto;
}

.page10Box {
    display: flex;
    flex-wrap: wrap;
}

.logoTitle {
    position: absolute;
    left: 40px;
    top: 40px;
}

.logoTitle img {
    height: 82px;
    width: 137px;
}

.page10 .page10Left {
    width: 40%;
    position: relative;
}

.page10 .textLogoTitleBoxMod {
    padding: 0 40px;
    text-align: left;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.page10 .anRight2 {
    color: #b9845f;
    font-size: 55px;
    font-weight: 500;
    font-family: Muli-Light;
    /*这里是说明调用来的字体名字*/

}

.page10 .anRight3 {
    font-size: 2vh;
    line-height: 2.5vh;
    margin: 20px 0;
    color: #494949;
}

.page10DescMod {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.page10DescModLeft {
    color: #b9845f;
    font-size: 28px;
    width: 30%;
}

.page10DescMod .page10DescModRight {
    width: 70%;
    line-height: 18px;
    font-family: Muli-Light;
    /*这里是说明调用来的字体名字*/

}

.page10Right {
    width: 60%;
    height: 100vh;
    position: relative;
}

.page10 .mapBox {
    width: 100%;
    height: 100%;
    background: url('https://s3.ap-southeast-1.amazonaws.com/alphaking/akr_centennial/image/mapAll_n_b.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    cursor: move;

}

.page10DescMod {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.mapBoxList {
    height: 100%;
}

.page10DescMod .page10DescModLeft {
    color: #b9845f;
    font-size: 28px;
    width: 30%;
}

.page10DescMod .page10DescModRight {
    width: 70%;
    line-height: 18px;
}

.addMod {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #fff;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, .3);
}

.addMod .add {
    border-right: 1px solid #fff;
}

.addMod span {
    padding: 2px 15px;
    display: inline-block;
    text-align: center;
    float: left;
    cursor: pointer;
    user-select: none;
    height: 20px;
    line-height: 16px;
    font-size: 20px;
}

.page4Right {
    width: 35%;
    float: left;
    padding: 10vh 4vw;
    box-sizing: border-box;
}

/* section11 */
.page11 {
    display: flex;
    flex-wrap: wrap;

}

.page11-block {
    display: flex !important;
    flex-wrap: wrap !important;
}

.swiperBoxMod_2 .swiperBox {
    height: 100vh;
    width: calc((100% / 10) * 6);
}

.swiperBoxMod_2 .swiperBox .swiper-slide {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.swiperBoxMod_2 .swiperBoxDesc {

    width: calc((100% / 10) * 4);
    position: relative
}

.swiperBoxDesc {
    position: relative
}

.swiperBoxMod_2 .swiperBoxDesc .pageLRMod {
    padding: 0 40px 10vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.pageLRMod .anRight1 img {
    width: 100%;
}

.pageLRMod .anRight2 {
    color: #b9845f;
    font-size: 55px;
    font-weight: 500;
    font-family: Muli-Light;
    /*这里是说明调用来的字体名字*/
}

.page11 .pageLRMod .anRight3 {
    width: 100%;
    font-size: 2vh;
    line-height: 2.5vh;
    margin: 20px 0;
    color: #494949;
    margin-top: 40px;
    font-family: Muli-Light;
    /*这里是说明调用来的字体名字*/
}

.page11-block .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
    left: 10px;
    right: auto;
}

.page11-block .swiper-button-next {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
    right: 10px;
    left: auto;
}

.page11-block .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.page11-block .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

@media screen and (max-width: 1024px) {
     .background-mobile {
    display: block !important;
    height: 74px;
}
    .background-mobile .logoMod img {
    width: 40% !important;
}
  
   .toVn{
    background: url('../image/toVn_y.png') no-repeat !important;
    background-size: auto 100% !important;
    background-position: center center !important;
    position: absolute !important;
    top: -8px !important;
    height: 22px !important;
    width: 35px !important;
    right: 56px !important;
   }
    .phoneMenuBtn{
        position: fixed !important;
        top: 20px !important;
        right: 0px !important;
        
        z-index: 9999 !important;
    }
    
.background-mobile .logoMod {
    width: 30% !important;
    position: absolute !important;
    top: 7px !important;
    left: 20px !important;
}
    .humbeger .icon-bar{
        background: #b9845f !important;
    }
    .facebookIcon{
        display: none !important;
    }
    .youtubeIcon{
        display: none !important;
    }
    .navBoxRight {
    padding-left: 0px !important;
}
.navBoxLeft{
    display: none !important;
}
.navBoxRight .menuMod {
   
    text-align: center !important;
}
.navBoxRight .navLinkList {
   border-bottom: 0px !important;
    padding-top: 80px;
}
.navBoxRightBox .navDescBox {
   display: none !important;
}
#menuNav {
  
    width: 100%;
}

    .swiper-container-8 .swiper-slide {

        width: 100%;
        height: 300px;
    }

    .swiper-container-7 .swiper-slide {
        width: 100%;
        height: 300px;
    }

    .page7 .logoMod {
        display: none;
    }

    .page8 .logoMod {
        display: none;
    }

    .fullpage .page7 .swiperBoxType2 h3,
    .fullpage .page8 .swiperBoxType2 h3 {
        font-size: 35px;

    }

    .page7 .textDescTab .textDescTabTitle .textDescTabTitleMod,
    .page8 .textDescTab .textDescTabTitle .textDescTabTitleMod {

        font-size: 19px;

    }

    .page7 .textDescTab .textDescTabDesc,
    .page8 .textDescTab .textDescTabDesc {

        font-size: 16px;
        height: auto;

    }
.swiperBoxType2 .swiper-container-7, .swiperBoxType2 .swiper-container-8 {
    padding-bottom: 30px;
}
    .page10 .textLogoTitleBoxMod {

        padding: 0 30px;

        top: auto;
        position: relative;
        transform: translateY(0);
    }

    .page10 .anRight2 {

        font-size: 46px;

    }

    .page10 .page10Left {
        width: 100%;
    }

    .page10Right {
        width: 100%;
        height: 50vh;
        position: relative;
    }

    .page10 .anRight1 img {
        width: 60%;
    }

    .page10 .page10DescMod {
        margin: 20px 0px;
    }

    .page10 .page10DescMod .page10DescModLeft {
        width: 25%;
    }

    .page10 .page10DescMod .page10DescModRight {
        width: 70%;
        line-height: 26px;
    }

    .swiperBoxMod_2 .swiperBoxDesc .pageLRMod {
        padding: 30px 30px 5vh;
        position: relative;
        top: auto;
        transform: translateY(0%);
    }

    .swiperBoxMod_2 .swiperBox {
        height: 50vh;
        width: 100%;
    }

    .swiperBoxMod_2 .swiperBox .swiper-slide {
        width: 100%;
        height: 50vh;

    }

    .page11 .swiperBoxDesc .logoTitle {
        display: none;
    }

    .pageLRMod .anRight1 img {
        width: 60%;
    }

    .page11 {
        display: block !important;
        padding-bottom: 0px !important;
    }

    .page11 .swiperBoxDesc {
        width: 100%;
    }

}

@media screen and (max-width: 480px) {
    .background-mobile {
    display: block !important;
    height: 60px;
}
    .background-mobile .logoMod img {
    width: 66% !important;
}
    .section {
        width: 100% !important;
        margin: auto;
    }

    .page10DescModLeft {
        width: 40%;
        font-size: 20px !important;
    }

    .fullpage {
        padding: 0px !important;

    }

    .page10DescMod {
        margin: 0px 0px 20px 0px;
    }

    .page10 .textLogoTitleBoxMod {

        padding: 0 15px;

        top: auto;
        position: relative;
        transform: translateY(0);
    }

    .page10 .anRight2 {

        font-size: 46px;

    }

    .page10 .page10Left {
        width: 100%;
    }

    .page10Right {
        width: 100%;
        height: 50vh;
        position: relative;
    }

    .fullpage .page7 .logoMod,
    .fullpage .page8 .logoMod,
    .fullpage .page10 .logoBg .logoTitle {
        display: none;
    }

    .fullpage .page7 .swiperBoxType2,
    .fullpage .page8 .swiperBoxType2 {
        width: 100%;
        position: relative;
        margin-top: 0px;

    }

    .swiper-container-8 .swiper-slide {

        width: 100%;
        height: 200px;
    }

    .swiper_7,
    .swiper_8 {
        position: relative;
    }

    .swiper-container-7 .swiper-slide {
        width: 100%;
        height: 200px;
    }

    .fullpage .page7 .swiperBoxType2 h3,
    .fullpage .page8 .swiperBoxType2 h3 {
        font-size: 25px;
        padding-top: 0px;
        margin-top: 0px !important;
    }

    .page7 .textDescTab .textDescTabTitle .textDescTabTitleMod,
    .page8 .textDescTab .textDescTabTitle .textDescTabTitleMod {
        font-size: 14px;
        line-height: 19px;
        width: 100%;
        margin: 0px auto;
        height: 100%;
        padding: 10px;

    }

    .page7 .textDescTab .textDescTabDesc,
    .page8 .textDescTab .textDescTabDesc {
        text-align: center;
        font-size: 14px;
        line-height: 19px;
        width: 100%;
        margin: 20px auto;
        color: #494949;
        height: 100%;
        padding: 0 15px;

    }

    .fullpage .page7 .swiperBoxType2 .swiper_7 .swiper-button-prev,
    .fullpage .page8 .swiperBoxType2 .swiper_8 .swiper-button-prev {
        left: 0px;

    }

    .fullpage .page7 .swiperBoxType2 .swiper_7 .swiper-button-next,
    .fullpage .page8 .swiperBoxType2 .swiper_8 .swiper-button-next {
        right: 0px;

    }

    .swiperBoxMod_2 .swiperBoxDesc .pageLRMod {
        padding: 30px 15px 5vh;
        position: relative;
        top: auto;
        transform: translateY(0%);
    }

    .swiperBoxMod_2 .swiperBox {
        height: 50vh;
        width: 100%;
    }

    .swiperBoxMod_2 .swiperBox .swiper-slide {
        width: 100%;
        height: 50vh;

    }

    .page11 .swiperBoxDesc .logoTitle {
        display: none;
    }

    .pageLRMod .anRight1 img {
        width: 84%;
    }

    .page11 {
        display: block !important;
        padding-bottom: 0px !important;
    }

    .page11 .swiperBoxDesc {
        width: 100%;
    }
    .page11 .pageLRMod .anRight3 {
    margin: 20px 0;
}
.pageLRMod .anRight2 {
   
    font-size: 40px;
   
}
}

.menuBox {
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
    z-index: 2;
    /* position:absolute;right:0;top:0;z-index:10; */
}

.menuBox.in {
    transition: 1s;
    width: auto;
    height: auto;
    background: none;
}

.menuMod {
    font-size: .8rem;
    padding: 0.1rem 0;
}

.menuBox .navbar-toggle {
    display: block;
    float: none;
    margin: 0;
}
.humbeger{
        background: transparent;
    border: none;
    outline: none;
}
.menuBox .icon-bar {
  width: 26px;
    height: 3px;
    margin-bottom: 6px;
    display: block;
    background: #fff;
}








.nav>li.slash {
    display: none;
}

.nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
    outline: none;
}

.collapse {
    position: relative;
    right: 0;
    top: 0;
}

.navBoxLeft {
    width: 100vh;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: url('https://s3.ap-southeast-1.amazonaws.com/alphaking/akr_centennial_2/image/manuBg.jpg') center no-repeat;
    background-size: auto 100%;
    background-position: center center;
}

.navBoxRight {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-left: 100vh;
}

.navBoxRightBox {
    padding: 30px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
}

.navBoxRight .menuMod {
    font-size: 20px;
    margin: 30px 0;
    text-align: left;
}

.navBoxRight .menuMod a {
    color: #c4c2c1;
}

.navBoxRight .menuMod.select a {
    color: #ba7b51;
}

.navBoxRight .navLinkList {
    padding-bottom: 30px;
    border-bottom: 1px solid #494949;
    width: 100%;
    min-height: 60vh;
}

.navBoxRight .navLinkList .menuMod {}

.navBoxRightBox .navDescBox {
    margin-top: 40px;
    display: flex;
    box-sizing: border-box;
}

.navBoxRightBox .navDescBox .navDescMod:nth-child(1) {
    width: 60%;
    padding-right: 20px;
}

.navBoxRightBox .navDescBox .navDescMod:nth-child(2) {
    width: 40%;
}

.navBoxRightBox .navDescBox .navDescMod .navDescTitle {
    color: #ba7b51;
    font-size: 12px;
}

.navBoxRightBox .navDescBox .navDescMod .navDescText {
    color: #494949;
    font-size: 14px;
    line-height: 18px;
    margin-top: 15px;
}

#menuNav {
    position: fixed;
    right: 0px;
    top: 0px;
    text-align: center;
   /*  height: 100vh; */
    z-index: 999;
}

.menuBox .phoneMenuBtn {
    width: 60px;
    position:fixed;
    right: 100px;
    top: 18px;
    z-index: 10;
}


.menuBox .phoneMenuBtn a {
    height: 25px;
    display: block;
    margin: 10px auto;
    text-align: center;
}

.menuBox .phoneMenuBtn a.toVn,
.yColor .menuBox.in .phoneMenuBtn a.toVn {
    height: 18px;
    background: url('../image/toVn_y.png') no-repeat;
    background-size: auto 100%;
    background-position: center center;
}

.menuBox .phoneMenuBtn a.toEn,
.yColor .menuBox.in .phoneMenuBtn a.toEn {
    height: 18px;
    background: url('../image/toEn_y.png') no-repeat;
    background-size: auto 100%;
    background-position: center center;
}

.menuBox .phoneMenuBtn a.youtubeIcon,
.yColor .menuBox.in .phoneMenuBtn a.youtubeIcon {
    background: url('../image/youtubeIcon_y.png') no-repeat;
    background-size: auto 100%;
    background-position: center center;
}

.menuBox .phoneMenuBtn a.facebookIcon,
.yColor .menuBox.in .phoneMenuBtn a.facebookIcon {
    background: url('../image/faceIcon_y.png') no-repeat;
    background-size: auto 100%;
    background-position: center center;
}

.menuBox.in .phoneMenuBtn a.toVn {
    height: 18px;
    background: url('../image/toVn.png') no-repeat;
    background-size: auto 100%;
    background-position: center center;
}

.menuBox.in .phoneMenuBtn a.toEn {
    height: 18px;
    background: url('../image/toEn.png') no-repeat;
    background-size: auto 100%;
    background-position: center center;
}

.menuBox.in .phoneMenuBtn a.youtubeIcon {
    background: url('../image/youtubeIcon.png') no-repeat;
    background-size: auto 100%;
    background-position: center center;
}

.menuBox.in .phoneMenuBtn a.facebookIcon {
    background: url('../image/faceIcon.png') no-repeat;
    background-size: auto 100%;
    background-position: center center;
}
.menu-content{
    display: none;
}
.menu-content-active{
    display: block;
}
.humbeger-active .icon-bar:nth-child(1){
        -webkit-transform: translateY(16px) rotateZ(45deg);
    -moz-transform: translateY(16px) rotateZ(45deg);
    transform: translateY(10px) rotateZ(45deg);
  
    webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background:#b9845f;
}
.humbeger-active .icon-bar:nth-child(2){
      display: none;
}
.humbeger-active .icon-bar:nth-child(3){
        -webkit-transform: translateY(1px) rotateZ(-45deg);
    -moz-transform: translateY(1px) rotateZ(-45deg);
    transform: translateY(1px) rotateZ(-45deg);
   
    webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: #b9845f;
}
.phoneMenuBtn-active .toVn{
     height: 18px !important;
    background: url('../image/toVn_y.png') no-repeat !important;
    background-size: auto 100% !important;
    background-position: center center !important;
}
.phoneMenuBtn-active .facebookIcon{
   background: url('../image/faceIcon_y.png') no-repeat!important;
    background-size: auto 100% !important;
    background-position: center center!important;

}
.phoneMenuBtn-active .youtubeIcon{
    background: url('../image/youtubeIcon_y.png') no-repeat !important;
    background-size: auto 100% !important;
    background-position: center center !important;
}
.navDescText a{
    color: #494949;
}
.background-mobile{
    background: #Fff;
    position: fixed;
   /*  height: 60px; */
    z-index: 99;
    top: 0px;
    left: 0px;
    width: 100%;
    display: none;
}
.background-mobile .logoMod{
    width:30% ;
    position: absolute;
    top: 20px;
    left: 20px;
}
.background-mobile .logoMod img{
    width:100% ;
}